body {
  background-color: #ecedf6;
}

.card-container {
  max-width: 900px !important;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin: 30px auto;
  max-width: 450px;
  padding: 2rem;
  position: relative;
}

.card-container-1 {
  max-width: 580px !important;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  max-width: 450px;
  padding: 2rem;
  position: relative;
}

video {
  width: 100%;
}